body{
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}




/* ------------------------------------------
 sidebar 
--------------------------------- */

.sidebar {
    width: 220px;
    background: #f5f5f5;
    padding: 12px;
    transition: width 0.3s ease;
}

/* logo */
.sidebar-toggle {
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 12px;
    cursor: pointer;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed li {
    justify-content: center;
}

.content {
    padding: 24px;
    flex: 1;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 6px;
}

.sidebar li:hover{
    background: #cfcfcf;

}

.menu-text {
    transition: opacity 0.2s ease;
    white-space: nowrap;
}

.sidebar.collapsed .menu-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

/* logo collapse sidebar*/

.logo-mini {
    display: none;
}

.sidebar.collapsed .logo-full {
    display: none;
}

.sidebar.collapsed .logo-mini {
    display: inline;
}

