<html lang="en">
<div class="leads_body p-10 bg-gray-100">

    <table class="leads_table min-w-full bg-white border border-gray-300 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-100">
            <tr>
                <th>Company Name</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Project Type</th>
                <th>Lead Source</th>
                <th>Status</th>
                <th>Estimated Budget</th>
                <th>Deadline</th>
                <th>Notes</th>
                <th>Assigned To</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Netherbuild</td>
                <td>Padrigon, Siv</td>
                <td>0232132</td>
                <td>test@gmail.com</td>
                <td>House Renovation</td>
                <td>Referrals</td>
                <td>New</td>
                <td>100</td>
                <td>01/01/2026</td>
                <td>Notes</td>
                <td>Yes</td>

            </tr>
            <tr>
                <td>Snake</td>
                <td>0232132</td>
                <td>House</td>
                <td>Status</td>
                <td>01/01/2026</td>
                <td>Notes</td>
                <td>Yes</td>
                <td>1000.00</td>
                <td>01/01/2026</td>
                <td>Notes</td>
                <td>u</td>
            </tr>
        </tbody>
    </table>

</div>
</html>