<html lang="en">
<div class="leads_body p-10 bg-gray-100">

    <p class="text- text-gray-800 mb-4"> Result of the selected cell</p>

    <div class="table_wrapper">
        <table class="leads_table min-w-full bg-white border border-gray-300 shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-100">
                <tr>
                    <th>Company Name</th>
                    <th>Contact Person</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Project Type</th>
                    <th>Lead Source</th>
                    <th>Status</th>
                    <th>Estimated Budget</th>
                    <th>Deadline</th>
                    <th>Notes</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="True" id="company_name">Netherbuild</td>
                    <td contenteditable="True" id="contact_person">John Doe</td>
                    <td contenteditable="True" id="phone">0232132</td>
                    <td contenteditable="True" id="email">test@gmail.com</td>
                    <td contenteditable="True" id="project_type">House Renovation</td>
                    <td contenteditable="True" id="lead_source">Referrals</td>
                    <td contenteditable="True" id="status">New</td>
                    <td contenteditable="True" id="estimated_budget">100</td>
                    <td contenteditable="True" id="deadline">2026-03-05</td>
                    <td contenteditable="True" id="notes">ako na yata ang pinaka magandang lalaki sa mundo</td>
                    <td contenteditable="True" id="assigned_to">Assigned User</td>
                </tr>
                <tr>
                    <td><input type="text" name="company_name"></td>
                    <td><input type="text" name="contact_person"></td>
                    <td><input type="text" name="phone"></td>
                    <td><input type="email" name="email"></td>
                    <td><input type="text" name="project_type"></td>
                    <td><input type="text" name="lead_source"></td>
                    <td><input type="text" name="status"></td>
                    <td><input type="number" name="estimated_budget"></td>
                    <td><input type="date" name="date"></td>
                    <td><input type="text" name="notes"></td>
                    <td><input type="text" name="assigned_to"></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
</html>