<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/leads.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="sidebar" id="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">
            <span class="logo-full">Title</span>
            <span class="logo-mini">T</span>
        </button>
        
        <ul>
            <li onclick="loadContent('{% url 'dashboard' %}')">
                <span class="menu-logo">[D]</span>
                <span class="menu-text">Dashboard</span>
            </li>
            <li onclick="loadContent('{% url 'leads' %}')">
                 <span class="menu-logo">[L]</span>
                <span class="menu-text">Leads</span>
            </li>
            <li onclick="loadContent('{% url 'quotation' %}')">
                <span class="menu-logo">[Q]</span>
                <span class="menu-text">Quotations</span>
            </li>
        </ul>
    </div>

    <div class="content"></div>
</body>
<script src="/static/sidebar.js"></script>
<script src="/static/content_ajax.js"></script>
</html>