<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/leads.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Dashboard</title>
    {% load static %}
</head>

<body>
    <div class="sidebar" id="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">
            <span class="logo-full">Title</span>
            <span class="logo-mini">T</span>
        </button>
        
        <ul>
            <li onclick="loadContent('{% url 'dashboard' %}')">
                <span class="menu-logo">[D]</span>
                <span class="menu-text">Dashboard</span>
            </li>
            <li onclick="loadContent('{% url 'leads' %}')">
                 <span class="menu-logo">[L]</span>
                <span class="menu-text">Leads</span>
            </li>
            <li onclick="loadContent('{% url 'quotation' %}')">
                <span class="menu-logo">[Q]</span>
                <span class="menu-text">Quotations</span>
            </li>
        </ul>
    </div>

    <div class="content"></div>
</body>

<!-- js reads -->
<!-- in other words letting js read these variables to be used in another file -->
<script>
    // content_ajax.js
    // content_ajax.js needs this variable to know which page to load when the website is first opened
    const defaultPage = "{% url 'quotation' %}";

    // project_list.js
    const urls = {
        addProject: "{% url 'add_empty_project' %}",
        quotation: "{% url 'quotation' %}"
    }
</script>


<!-- sidebar functionality -->
<script src="/static/sidebar.js"></script>
<!-- load different pages as content using ajax instead or rendering (rendering is slow)-->
<script src="/static/content_ajax.js"></script>

<script src="/static/project_list.js"></script>


</html>